header {
  width: 1920px;
  height: 200px;
  background-color: gray;
  margin:0 auto;
}
body{
  width: auto;
  height: auto;
  background-color: #ffffff;
}
.bigbody{
  width: 1920px;
height: 3400px;
background-color: #ffffff;
  margin:0 auto;
}
.icon-1 {
  width: 150px;
  height: 246px;
  background-color: #000000;
    margin-left: 138px;
    margin-top: 350px;
  float: left;
}
.image-1 {
margin: 0px auto;
  width: 1308px;
  height: 810px;
  background-color:lightgray;

    margin-top: 150px;


}
.icon-3 {
  width: 150px;
  height: 246px;
  background-color: #000000;
    margin-right: 138px;
    margin-top: 350px;
  float: right;
}
.brand {

  width: 651px;
  height: 315px;
  background-color: gray;

    margin: 0px auto;
    margin-top: 100px;

}
.image-2 {
  margin: 0px auto;
  width: 1308px;
  height: 810px;
  background-color: lightgray;
  margin-top: 150px;
}
.icon-2 {
  width: 150px;
  height: 150px;
  background-color: #000000;
    margin-left: 138px;
    margin-top: 150px;
  float: left;
}
.cp1 {
  width: 400px;
  height: 270px;
  background-color:lightgray;
  margin-left: 20px;
  margin-top: 80px;
    float: left;
}
.cp2 {
  width: 400px;
  height: 270px;
  background-color: lightgray;
    margin: 0px auto;
      margin-top: 80px;
      margin-left: 52px;
        float: left;
}
.cp3 {
  width: 400px;
  height: 270px;
  background-color: lightgray;
    margin-top: 80px;
      margin-left: 52px;
      float: left;
}
.icon-4 {
  width: 150px;
  height: 150px;
  background-color: #000000;
margin-right: 138px;
    margin-top: 150px;
  float: right;
}
.text-1 {

  width: 1605px;
  height: 78px;
  background-color:red;
  float: left;
    margin: 0px auto;
      margin-top: 50px;
      margin-left: 154px;
}
.image-3 {
  width: 555px;
  height: 621px;
  background-color: lightgray;
  margin-top: 100px;
  margin-left: 300px;
  float: left;
}
.text-2 {
  width: 816px;
  height: 87px;
  background-color: red;
  float: left;
  margin-top: 130px;
  margin-left: 88px;
}
.button-1 {
  width: 816px;
  height: 165px;
  background-color: lightgray;
  float: left;
  margin-top: 20px;
  margin-left: 88px;
}
.button-2 {
  width: 816px;
  height: 165px;
  background-color: lightgray;
  float: left;
  margin-top: 20px;
  margin-left: 88px;
}
.text-3 {
  width: 816px;
  height: 87px;
  background-color: red;
  float: left;
  margin-top: 20px;
  margin-left: 88px;
}

footer {
    margin: 0 auto;
  width: 1920px;
  height: 120px;
  background-color: #000000;



}
